:root {
    /* for nav links when not hovering*/
    --nav-link-dark-gray: #8b8b8b;
    /* for nav links when hovering */
    --nav-link-gray: #c6cccd;

    /*Colour of search buttons and bottom nav bar*/
    --search-button-gray: #f3f3f3;

    /*Shortcut picture background*/
    --shortcut-button-hover-gray: #e5e7e8;
    --shortcut-button-gray: #f1f3f4;

    /* Colour of google logo */
    --google-blue: #5b95f5;
    --google-red: #ea4335;
    --google-yellow: #fbbc05;
    --google-green: #34a853;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Navigation Bar */
nav {
    position: absolute;
    top: 1em;
    right: 1em;
    align-items: center;
    display: flex;
}

nav a {
    text-decoration: none;
    position: relative;
    margin-left: 1em;
    font-size: 0.8rem;
}

/* TODO - gray colours not working properly when hovered */

nav a:visited, footer a:visited {
    color: var(--nav-link-dark-gray);
}

nav a:hover, footer a:hover {
    color: var(--nav-link-gray);
    text-decoration-line: underline;
}

nav a.no-underline:hover {
    text-decoration-line: none;
}

nav a:link, footer a:link {
    color: var(--nav-link-dark-gray);
}

nav a svg, nav a img {
    margin-top: 0.3em;
    width: 2em;
    fill: var(--shortcut-button-hover-gray);
}

nav a svg:hover {
    fill:black;
}

nav a img {
    background-color: var(--shortcut-button-gray);
    border-radius: 5em;
}

nav a img:hover {
    background-color:var(--shortcut-button-hover-gray);
}


/* Google Logo */
.logo {
    margin-top: 8rem;
    text-align: center;
    font-size: 5em;
}
.blue {
    color: var(--google-blue);
}
.red {
    color: var(--google-red);
}
.yellow {
    color: var(--google-yellow);
}
.green {
    color: var(--google-green);
}


/* Search bar */
.searchbar-container {
    display: flex;
    margin: 2rem auto;
    width: 43%;
    border-radius: 3em;
    border-color: var(--nav-link-gray);
    border-style: solid;
    height: 2.4rem;
    min-width: 300px;
}

.searchbar-container:hover {
    box-shadow: 0 0 5px var(--nav-link-gray);

}

.magnifying-glass{
    width:10%;
    background: url('../images/search.svg') no-repeat center;
    background-size: 1.3em 1.3em;
    padding: 10px;
}

.searchbar-container > input {
    width:80%;
    border-style: none;
}

input:focus{
    outline:none;
}

.microphone {
    width:10%;
    background: url('../images/microphone.svg') no-repeat center;
    background-size: 1.3em 1.3em;
    padding: 10px;
}

/* Google Search and I'm Feeling Lucky buttons */
.search-buttons {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;

}
.search-buttons > button {
    margin: 0 4px;
    border: none;
    padding: 0.7em;
    border-radius: 0.3em;
}
.search-buttons > button:hover {
    border: 1px solid var(--nav-link-gray);
    overflow: hidden;
    /* Offset margin by 1 px to avoid moving everything when the border appears */
    margin: -1px 3px;
    cursor: pointer;
}

/* Google language text*/
.google-languages {
    display: inline;
    width: 60%;
    margin: 2rem 0 0 2rem;
    font-size: smaller;
    text-align: center;
}
.google-languages a:link {
    text-decoration-line: none;
}
.google-languages a:hover {
    text-decoration-line: underline;
}


/* Shortcuts container*/
.shortcuts-container {
    display: grid;
    width: 60%;
    /*TODO - column gap repeats at the very end. See this link for possible solution:
        https://stackoverflow.com/questions/45090726/the-difference-between-percentage-and-fr-units-in-css-grid-layout*/
    grid-template-columns: repeat(5, auto);

    /*grid-template-columns: auto auto auto auto auto;*/

    /* No longer in center once you make the screen smaller... TODO - Fix this*/
    /*grid-gap: 1%;*/
    text-align: center;
    margin: auto;
    font-size: smaller;
}

.shortcuts-container img {
    /*Make images fit the container.*/
    width: 70%;
    height: auto;
    background-color: var(--shortcut-button-gray);
    border-radius: 50%;
    /*object-fit: contain;*/
    /*transform: scale(0.5)*/
}

.shortcut, .add-shortcut {
    /*background-color: var(--nav-link-dark-gray);*/
    padding: 10px;
    border-radius: 10%;
    width: 5em;
    height: 5em;
}

.shortcut:hover, .add-shortcut:hover {
    background-color: var(--shortcut-button-hover-gray);
    cursor:pointer;
}

.shortcuts-container a {
    text-decoration: none;
    margin: auto;
}

.shortcuts-container a:link {
    text-decoration: none;
    color: black;
}

.shortcuts-container a:visited {
    text-decoration: none;
    color: black;
}
.shortcuts-container h5 {
    margin-top: 1em;
}


/* Footers */

footer {
    background-color: var(--search-button-gray);
    padding: 0.8rem 1.5rem;
    border-color: var(--shortcut-button-hover-gray);
    border-style: solid;
    border-width: 0.01rem 0 0 0;
    width: 100%;
    min-width: 750px;
}

/* Country footer (Singapore) */
footer.country-footer {
    position: fixed;
    bottom: 2.8rem;

}

footer h4 {
    color: var(--nav-link-dark-gray);
    font-weight: normal;
    margin: 0;
}

/*Navbar footer at the bottom*/

footer a {
    text-decoration-line: none;
}
footer.footer-nav-bar {
    position: fixed;
    bottom: 0;

}
.footer-left {
    margin-right: auto;
    width: 300px;

}
.footer-left > a {
    margin-right: 1em;
}

.footer-right {
    float: right;
    width: 300px;

}
.footer-right > a {
    margin-left: 1em;

}

/* First breakpoint at 690 px*/
@media (max-width: 690px) {
    .shortcuts-container {
        grid-template-columns: auto auto auto auto;
    }

    .nine-to-ten {
        display: none;
    }

}


@media (max-width: 650px) {
    .shortcuts-container {
        grid-template-columns: auto auto auto;
    }

    .search-buttons {
        display: flex;
        width: 60%;
    }

    .search-buttons > button {
        margin: 0 4px;
        border: none;
        padding: 0.4em;
        border-radius: 0.3em;
    }
    .seven-to-eight {
        display: none;
    }

    .searchbar-container {
        width: 30%
    }

    footer {
        display:none;
    }
}

@media (max-width: 450px) {
    .shortcuts-container {
        display: none;
    }
    .customize {
        display: none;
    }
}

